html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: Roboto, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  max-width: 100vw;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#navbar {
  background-color: #fff;
  border-bottom: 1px solid #aaa;
}
.header-container {
  width: 100%;
}
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.link-items {
  display: block;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: #000;
}
.dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.link-items:hover, .dropdown-item:hover {
  color: #055793;
}
.home-page-wrapper {
  width: 100%;
  min-height: 800px;
  max-width: 100vw;
  background: url("../images/home-page.jpeg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.home-page-heading {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 50%;
  color: #fff;
}
.home-page-heading h1 {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}
.home-page-heading h3 {
  font-size: 50px;
  font-weight: 700;
}
.home-page-img {
  min-width: 100%;
  max-width: 100vw;
  max-height: calc(100vh - 150px);
  min-height: 600px;
}
.home-page-overflow {
  position: absolute;
  width: 20%;
  min-height: 300px;
  background-color: #fff;
  border-radius: 20px;
  bottom: 10%;
  right: 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.home-page-overflow h3 {
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
}
.form-control-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.input {
  width: 100%;
}
.input.textarea {
  resize: none;
}
.services-navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
.service-nav {
  min-height: 100px;
  padding: 15px 25px;
}
.service-nav:hover {
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.15);
  border-radius: 10px;
}
.service-nav a {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  cursor: pointer;
}
.service-nav a:hover {
  color: #444;
}
.service-nav a svg {
  font-size: 50px;
}
.footer {
  width: 100%;
  background-color: #444;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  padding: 20px;
}
.footer-info {
  display: flex;
}
.footer-company {
  color: #fff;
  padding: 10px;
}
.footer-paragraph {
  font-size: 0.8rem !important;
}
.footer-copyright {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid #fff;
  color: #fff;
  margin: 0 50px;
}
.footer-links {
  padding:  0 10px;
}
@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
    justify-content: space-between;
  }
}
