html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: Roboto, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  max-width: 100vw;
}
.Toastify__toast {
  border-radius: 10px;
}
.Toastify__toast--info {
  background-color: #055793;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#navbar {
  background-color: #fff;
  border-bottom: 1px solid #aaa;
}
.header-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap !important;
}
.header-phone {
  flex: 1 1 100%;
  text-align: right;
  padding-right: 10px;
}
.header-phone-link {
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contact-phone-link {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000;
}
.navbar-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.link-items {
  display: block;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: #CAE265;
}
.dropdown-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.link-items:hover, .dropdown-item:hover {
  color: #b1d328;
}
.home-page-wrapper {
  width: 100%;
  min-height: 800px;
  max-width: 100vw;
  background: url("../images/home.png");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.home-page-img {
  min-width: 100%;
  max-width: 100vw;
  max-height: calc(100vh - 150px);
  min-height: 600px;
}
.home-page-overflow {
  position: absolute;
  width: 20%;
  min-width: 300px;
  max-width: 380px;
  min-height: 300px;
  background-color: #9BA7B2;
  border-radius: 20px;
  bottom: 10%;
  left: 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.home-page-overflow h3 {
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
}
.image-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.logo {
  font-size: 100px;
  cursor: pointer;
}
/* .instagram-logo { */
  /* background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); */
  /* color: #fff; */
/* } */
.nav-wrapper {
  flex: 1 1 100%;
  display: flex;
}
.form-control-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
  max-width: 400px;
}
.form-control-container.center {
  align-items: center;
}
.form-control-radio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.form-control-radio {
  display: flex;
  justify-content: center;
}
.radio {
  padding: 5px;
  background-color: #fff;
  color: #444;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 5px;
  min-width: 30px;
  text-align: center;
  border: 1px solid #444;
}
.radio-selected {
  background: #CAE265;
}
.input {
  width: 100%;
}
.input.small {
  max-width: 200px;
  background-color: #fff;
  border-radius: 4px;
}
.input.textarea {
  resize: none;
  overflow: scroll;
  max-height: 200px;
}
.invalid-paragraph {
  color: red;
  font-size: 14px !important;
  padding-left: 10px;
}
.services-navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
.icon-background {
  background-color: #9BA7B2;
  color: #CAE265;
  border-radius: 5px;
  padding: 10px;
}
.service-nav {
  min-height: 100px;
  padding: 15px 25px;
}
.service-nav a {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  cursor: pointer;
}
.service-nav:hover > a {
  color: #055793;
  text-decoration: none;
}
.service-nav a svg {
  font-size: 50px;
}
.service-image {
  width: 100%;
  max-height: 600px;
}
.service-page {
  position: relative;
  min-height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* background-position-y: -100px; */
}
.service-info {
  position: relative;
  width: 80%;
  left: 10%;
  margin: 50px 0;
}
.service-heading {
  font-size: 4rem;
  font-style: italic;
  text-align: center;
}
.service-paragraph {
  text-align: center;
}
.service-reviews {
  position: relative;
  width: 80%;
  left: 10%;
  margin: 20px 0;
}
.review-container {
  padding: 20px;
  text-align: center;
}
.carousel-container {
  transition: transform 1s ease-in-out !important;
}
.info-container {
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: center;
}
.info-heading {
  font-size: 2.5rem;
  text-align: center;
}
.data-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.data-container {
  background-color: #9BA7B2;
  padding: 10px;
  border-radius: 10px;
  flex: 1 1 25%;
  max-width: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.data-heading {
  text-align: center;
  color: #455A64;
  font-weight: bold;
}
.data-text {
  text-align: center;
  color: #CAE265;
}
.data-icon-wrapper {
  display: flex;
  justify-content: flex-end;
}
.map-container {
  z-index: 10;
}
.map-wrapper {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
  left: 10%;
  position: relative;
}
.footer {
  width: 100%;
  background-color: #C7D0D8;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  padding: 20px;
}
.footer-info {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.footer-map {
  flex: 1 1 50%;
  display: flex;
  justify-content: flex-end;
}
.footer-links-wrapper {
  margin: 0 50px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-link > a {
  font-size: 1.5rem;
  color: #455A64 !important;
  padding: 0 20px;
}
.footer-links-container {
  flex: 1 1 20%;
  padding-left: 30px;
  border-right: 1px solid #B89D27;
}
.footer-paragraph {
  color: #455A64;
  font-size: 1rem !important;
}
.footer-paragraph > a {
  color: #455A64;
}
.footer-paragraph > a:hover {
  text-decoration: underline;
  color: #455A64;
}
.footer-info-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 30px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
}
.footer-copyright {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid #fff;
  color: #455A64;
  margin: 0 50px;
}
.footer-links {
  padding:  0 10px;
  color: #455A64;
}
.active {
  color: #455A64;
}
.active:hover {
  text-decoration: underline;
  color: #455A64;
}
.spinner-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.80);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.sa-folding-box{
  /* margin: 300px auto; */
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform:rotateZ(45deg);
 }
 .sa-folding-box .sa-box{
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
 }
 .sa-folding-box .sa-box:before{
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #055793;
  -webkit-animation: sa-foldboxAngle 2.4s infinite linear both;
  animation: sa-foldboxAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
 }
 .sa-folding-box .sa-box_2 {
  -webkit-transform:scale(1.1) rotateZ(90deg);
  transform:scale(1.1) rotateZ(90deg);
 }
 .sa-folding-box .sa-box_3 {
  -webkit-transform:scale(1.1) rotateZ(180deg);
  transform:scale(1.1) rotateZ(180deg);
 }
 .sa-folding-box .sa-box_4 {
  -webkit-transform:scale(1.1) rotateZ(270deg);
  transform:scale(1.1) rotateZ(270deg);
 }
 .sa-folding-box .sa-box_2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
 }
 .sa-folding-box .sa-box_3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
 }
 .sa-folding-box .sa-box_4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
 }
 @keyframes sa-foldboxAngle {
  0%, 10%{
  -webkit-transform: perspective(140px) rotateX(-180deg);
  transform: perspective(140px) rotateX(-180deg);
  opacity: 0;
  }
  25%, 75%{
  -webkit-transform: perspective(140px) rotateX(0deg);
  transform: perspective(140px) rotateX(0deg);
  opacity:1;
  }
  90%, 100%{
  -webkit-transform:perspective(140px) rotateY(180deg);
  transform: perspective(140px) rotateY(180deg);
  opacity: 0;
  }
 }
 @-webkit-keyframes sa-foldboxAngle {
  0%, 10%{
  -webkit-transform: perspective(140px) rotateX(-180deg);
  transform: perspective(140px) rotateX(-180deg);
  opacity: 0;
  }
  25%, 75%{
  -webkit-transform: perspective(140px) rotateX(0deg);
  transform: perspective(140px) rotateX(0deg);
  opacity:1;
  }
  90%, 100%{
  -webkit-transform:perspective(140px) rotateY(180deg);
  transform: perspective(140px) rotateY(180deg);
  opacity: 0;
  }
 }
@media screen and (max-width: 1400px) {
  .map-wrapper {
    width: 100%;
    left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
    justify-content: space-between;
  }
  .navbar-container {
    flex: 1 1 50% !important;
  }
}
@media only screen and (max-width: 768px) {
  .home-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  .home-page-overflow {
    position: relative;
    width: 80%;
    bottom: 0;
    right: 0;
    padding: 10px;
    min-width: 250px;
  }
  .header-phone-link {
    justify-content: center;
  }
  .service-heading {
    font-size: 2.7rem;
  }
  .service-info {
    width: 100%;
    padding: 0 15px;
    left: 0;
  }
  .nav-wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .navbar-nav {
    justify-content: flex-end;
  }
  .navbar-container {
    flex: 1 1 100%;
  }
  .navbar-container > ul {
    width: 100%;
  }
  .navbar-container > ul > li {
    text-align: center;
  }
  .services-navigation {
    flex-direction: column;
  }
  .service-page {
    min-height: 500px;
    background-position-x: -150px;
  }
  .map-wrapper {
    padding: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }
  .MuiBox-root-13 {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }
  /* .Mui-focused > input {
    border: 1px solid #CAE265 !important;
  } */
  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-container {
    margin: 0 10px;
  }
  .footer-links-container {
    border: none;
    padding-bottom: 30px;
  }
  .footer-info {
    order: 1;
    padding-left: 30px;
  }
  .footer-map {
    justify-content: center;
    padding-bottom: 30px;
  }
  .contact-header {
    text-align: center;
  }
  .contact-content {
    padding-left: 20px;
  }
  .form-control-container {
    min-width: 300px;
    padding: 10px 20px;
  }
  .footer-container {
    flex-direction: column;
  }
  .service-page {
    background-position-x: -200px;
  }
}
